# API
DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me-in-production-use-32-chars-min"
JWT_REFRESH_SECRET="change-me-refresh-secret-32-chars"
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef"
AI_ENABLED=false
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_AI_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000/v1
